@import "tailwindcss";

/* * {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  background-color: #eee;
}

html {
  box-sizing: border-box;
  font: 16px/1.5 "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #111;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.wrapper {
  background-color: #111;
  color: #fff;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111;
  transition: background-color 0.3s ease;
}

.innerSection {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 1800px;
}

.footer {
  text-align: center;
}

.footerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: space-around;
}

.footerText {
  padding: 0.5em 1em;
}

.navLink svg {
  font-size: 1.5em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2em;
  text-decoration: none;
}

.logoImg {
  height: 3em;
  width: auto;
}

.logoText {
  display: block;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.navList {
  display: flex;
  justify-content: space-around;
  gap: 1.25em;
  list-style: none;
}

.navItem {
  padding: 0.5em 1em;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s ease;
}

.planetsTitle h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  padding: 0.5em 0;
}

.navLink:hover {
  color: #1E90FF;
}

.hero {
  position: relative;
  background-color: #111;
  color: white;
  height: 900px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .backgroundImage {
  background-image: url('/images/hero-image.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.container {
  text-align: left;
  max-width: 1400px;
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
}

.content {
  position: relative;
}

.hero h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.actionBtn {
  position: relative;
  background-color: #1E90FF;
  text-decoration: none;
  color: white;
  padding: 0.5em 2em;
  border-radius: 0.3em;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 1;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
}

.actionBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.3em;
  z-index: -1;
  transition: border-radius 0.3s ease;
}

.actionBtn:hover {
  border-radius: 1.2em;
  background-color: #0056b3;
}

.actionBtn:hover::after {
  border-radius: 0.3em;
}

.fact {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #111;
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  flex-wrap: wrap;
}

.factHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.factHeader h2,
.factContent h3,
.factContent p {
  color: #fff;
}

.factHeader h2 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 6em;
  line-height: 1.3;
}

.factContent {
  display: flex;
  max-width: 65ch;
  flex-direction: column;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.description {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.source {
  font-size: 0.9em;
}

.source a {
  text-decoration: none;
}

.source a:hover {
  text-decoration: underline;
}

.factsDescSmall {
  padding-right: 0.5em;
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  letter-spacing: 0.05em;
  color: #f4d03f;
}

.factsDescLarge {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.wrapperQuestion {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 5em 0;
}

.homeLeft {
  flex: 1;
}

.homeRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 300px;
  min-height: 200px;
  gap: 2em;
  align-items: center;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0.1em 0.8em rgba(0, 0, 0, 0.1);
  text-align: center;
}

.lastQuizCard {
  background-color: #eaf1f9;
  padding: 1em 1.4em;
  border-radius: 0.8em;
  margin: 0 auto;
  text-align: left;
}

.lastQuizCard h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.lastQuizCard p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 1em;
}

.homeLeft h1 {
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 1.5em;
  font-weight: 700;
}

.homeLeft p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 2em;
  line-height: 1.6;
  font-style: italic;
}

.something {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.sliderWrapper {
  background-color: #eee;
}

.planetsTitle h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  padding: 0.5em 0;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: -2em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: black;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: -2em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: black;
}

.nextArrow:hover,
.prevArrow:hover {
  color: #1E90FF;
}

.cardContainer {
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  height: 380px;
  margin: 1em auto;
  padding: 1.2em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.cardContainer:hover {
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5em;
}

.cardContent {
  margin-top: 1em;
}

.cardTitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardType {
  font-size: 1.1em;
  color: #666;
  font-style: italic;
  margin-bottom: 6px;
  text-align: center;
}

.cardContainer .cardContent {
  flex-grow: 1;
}

.planetsContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10em 2em;
}

.loading {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em 0;
} */