@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='white'] {
  --bg-color: #ffffff;
  --text-color: #0a0909;
  --muted-text: #0a0909;
  --accent-color: #f4d03f;
  --highlight-bg: #ffffff;
  --highlight-text: #000000;
}

[data-theme='dark'] {
  --bg-color: #1d1e27;
  --text-color: #f5f5f5;
  --muted-text: #ffffffcc;
  --accent-color: #003366;
  --highlight-bg: #ffffff;
  --highlight-text: #000000;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-pacifico {
  font-family: var(--font-pacifico);
}
